body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.sidebar {
  height: 100%;
  width: 20%;
  background-color: #6c9bd0;
  position: fixed;
  top: 0;
  bottom: 0;
}

.sidebar-items {
  margin-top: 64px;
  width: 95%;
  color: #ffffff;
}

.appbar {
  position: fixed !important;
  text-align: center;
  background-color: #1e5a9f !important;
}

.postlist {
  position: relative;
  padding-top: 64px;
  padding-bottom: 40px;
  width: 80%;
  float: right;
}

.postitem {
  padding: 24px 24px 0;
}

.postitem-buttons {
  float: right;
}

.postitem-link {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  cursor: pointer;
}

.add-post {
  margin: 16px 24px 0px;
}

.order-posts {
  margin: 16px 24px 0px;
  float: right;
}

.postdetail {
  position: relative;
  padding-top: 64px;
  padding-bottom: 40px;
  width: 75%;
  padding-right: 5%;
  float: right;
}

.comment-list {
  width: 75%;
  float: right;
  padding-bottom: 40px;
  padding-right: 5%;
}

.comment-item {
  margin-bottom: 40px;
}